.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.default {
  max-width: var(--container-width);
}

.narrow {
  max-width: var(--container-width-narrow);
}
